name: Vulnerabilities
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # Trigger every day at 16:00 UTC
    - cron: '0 16 * * *'
    
permissions: 
  security-events: write

jobs:
  Check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Scan for Vulnerabilities in Code
        uses: Templum/govulncheck-action@v1.0.2
        with:
          go-version: '1.22'
          vulncheck-version: v1.0.0
          package: ./...
          fail-on-vuln: true
